body {
    width: 400px;
    min-height: 250px;
    padding: 1rem;
    background-color: #ffcbcb;
}

#title {
    font-family: 'Jua', sans-serif;
    height: 100px;
}

#date {
    font-family: 'Jua', sans-serif;
    height: 100px;
}

#date > h1{
    width: 100px;
    color: white;
    margin: 0 auto;
    padding-top: 8px;
    border-radius: 10px;
}

#setting {
    font-family: 'Jua', sans-serif;
}

#setting > h3{
    width: 120px;
    background-color: rgb(22, 22, 22);
    color: white;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 13px;
    border-radius: 10px;
}
